.agenda{
    background: #EDEFF1;
    margin-top: 73px;
    overflow: auto;
    padding-bottom: 20px;
}
.agenda-dia{
    width: 98%;
    margin: 0 auto;
}
.agenda-dia-title{
    padding: 40px 0 16px;
    text-align: center;
}
.agenda-dia-title h2{
    font-size: 25px;
    padding-left: 20px;
    margin-bottom: 15px;
}
.agenda-dia-title .material-icons{
    color: #1196cf;
    cursor: pointer;
}
.agenda-dia-title time{
    font-size: 14px;
}
.agenda-dia:first-child .evento>td:nth-child(2){
    width: 125px;
}