.eventos{
    background: white;
    width: 100%;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;  
    border-radius: 0 0 1px 1px;
    box-shadow: 0 1px 0 #dadada;
}
.evento>td{
    border-bottom: 1px solid #ccc;
}
.evento:last-child>td{
    border-bottom: none;
}
.eventos{

}
