.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0288D2;
    color: white;
}
.navbar-action{
    float: left;
}
.navbar-action-item,
.navbar-drop-item{
    float: left;
}
.navbar-action-item>a{
    padding: 20px;
    display: inline-block;
}
.navbar-action-item>a,
.navbar-drop-item>button{
    color: white;
    transition: background 0.5s ease-in;
}
.navbar-action-item>a:hover,
.navbar-drop-item>button:hover {
    background: #0d84b9;
}
.navbar-action-item .material-icons{
    font-size: 30px;
}
.navbar-drop{
    float: right;
}
.navbar-drop-item>button{
    background: none;
    border: none;
    line-height: 1;
    cursor: pointer;
    padding: 22px 24px 26px;
    font-size: 17px; 
}
.navbar-drop-item .material-icons{
    vertical-align: text-bottom;
    margin-left: 6px;
}